{% extends 'layout/basic_main_page.html' %}

{% block content %}
<div class="my-flex-container">
  <div class="accordion">
    <div class="container__wrapper">
      <div class="container__content">
        <button class="accordion" onclick="location.href = '{% url 'knowledge_index' %}'">Задания</button>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="container__wrapper">
      <div class="container__content">
        <button class="accordion" onclick="location.href = '{% url 'about' %}'">О проекте</button>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="container__wrapper">
      <div class="container__content">
        <button class="accordion" onclick="location.href = '#'">Тесты</button>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="container__wrapper">
      <div class="container__content">
        <button class="accordion" onclick="location.href = '{% url 'login' %}'">Вход</button>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="container__wrapper">
      <div class="container__content">
        <button class="accordion" onclick="location.href = '{% url 'signup' %}'">Регистарция</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
