{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type"
      content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_task.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Задания</title>
    <style>
      body {background-color: rgb(255,255,255);}
    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: SpringGreen">
    <div class="navbar-header">
      <a href='#' class='navbar-brand'>CHEMISTRY-UTL</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">О проекте</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'knowledge_index' %}">Задания</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Тесты</a>
      </li>
      {% if allowed %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_task' %}">Добавить задание</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav text-right">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="#">Здравствуйте, {{ user.first_name }}!  </a>
        <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Выйти‌‌‍‍‌‌‍‍</a>
      {% else %}
        <a class="nav-item nav-link" href="{% url 'signup' %}"><i class="fas fa-user" aria-hidden="true"></i> Зарегистрироваться   </a>
        <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Войти‌‍‍‌‌‍‍</a>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="row justify-content-start">
  <div class="form-group col-md-2">
      {% block filter %}
      {% endblock %}
  </div>
  <div class="col-7">
    {% block content %}
    {% endblock %}
  </div>
  <div class="col-3">
    {% block message %}{% endblock %}
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
